/*
	layout.css, 23.jun.2018, Ruairi Gann

	Written for softstuff.uk,
	this css file is used to define rules of composition and dynamic layout.
	Rules set before the @media queries are to be used across all screen sizes,
	rules which change depending on screen size are defined inside the @media queries.

	Properties:
	border, display, height, grid-template-rows, list-style-position, margin, max-width,
	outline, padding, position, right, top, width
*/

/* Always used */

/* temp */
.t {
display: block;
font-family: monospace;
color: black;
}
.show-button {
padding: 8px 20% 8px 10px;
}
	.show-button button {
	margin-bottom: 8px;
	}
form span {
float: left;
margin: 4px;
padding: 4px;
outline: 1px solid black;
font-family: monospace;
}
#output {
position: absolute;
width: 100vw;
height: 60vh;
padding-top: 40vh;
left: 0;
top: 0;
display: none;
}

body, p, #wrapper > header > h1 {
margin: 0;
}
#wrapper, #tf-month, #wrapper > main {
display: grid;
}
#wrapper {
min-height: 100vh;
}
	#wrapper > * {
	display: flex;
	}

img, a {
display: inline-block;
max-width: 100%;
height: auto;
}
ul {
padding-left: 20px;
margin: 0;
}

#tf-wrapper {
text-align: center;
}
#tf-month {
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
	#tf-month-day {
	height: 30px;
	}
#tf-day {
height: 200px;
}

#wires-button {
width: 0;
height: 0;
}

#rps-container {
display: none; /* overwritten by JS */
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	#wrapper {
	width: 100vw;
	grid-template-rows: 40px auto 40px;
	}
		#wrapper > main > #sidebar {
		display: none;
		}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	#wrapper {
	width: 76vw;
	grid-template-rows: 80px auto 80px;
	margin: 0 7vw 0 7vw;
	padding: 0 5vw 0 5vw;
	}
		#wrapper > main {
		grid-template-columns: 3fr 1fr;
		}
	#tf-month {
	grid-gap: 5px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}