/*
	type.css, 23.jun.2018, Ruairi Gann

	Written for softstuff.uk,
	this css file is used to define rules regarding typography,
	and rendering text within elements.

	Properties:
	font-family, font-size, line-height, list-style-type, text-decoration,
*/

/* Always used */

body {
/*font-family: 'Heebo', sans-serif;*/
font-family: 'Sriracha', cursive;
}
p {
line-height: 1.6;
}
h1 > a {
text-decoration: none;
}
nav > ul {
list-style-type: none;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	body {
	font-size: 12px;
	}

	#wrapper header h1 {
		font-size: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	body {
	font-size: 16px;
	}
	#wrapper header h1 {
	font-size: 40px;
	}
}